
<h2 class='edit-title'>山田花子さんの会員情報編集</h2>

  <%= form_with model: @customer, url: edit_admin_customer_path, local: true do |f| %>

    <table>
     <thead>
      <tr>
        <th><%= f.label :customer_id, "会員ID" %></th>
        <th><%= f.text_field :customer.id %></th>
        <th colspan="3"></th>
      </tr>
     </thead>
     <tbody>
      <tr>
        <td><%= f.label :full_name, "氏名" %></td>
        <td><%= f.text_field :last_name %></td>
        <td><%= f.text_field :first_name %></td>
      </tr>
      <tr>
        <td><%= f.label :full_name_kana, "フリガナ" %></td>
        <td><%= f.text_field :last_name_kana %></td>
        <td><%= f.text_field :first_name_kana %></td>
      </tr>
      <tr>
        <td><%= f.label :post_code,"郵便番号" %></td>
        <td><%= f.text_field :post_code %></td>
        <td colspan="3"></td>
      </tr>
      <tr>
        <td><%= f.label :address,"住所" %></td>
        <td><%= f.text_field :address %></td>
        <td colspan="3"></td>
      </tr>
      <tr>
        <td><%= f.label :telephone_number,"電話番号" %></td>
        <td><%= f.text_field :telephone_number %></td>
        <td colspan="3"></td>
      </tr>
      <tr>
        <td><%= f.label :email,"メールアドレス" %></td>
        <td><%= f.test_field :email %></td>
        <td colspan="3"></td>
      </tr>
      <tr>
        <td><%= f.label :is_active,"会員ステータス" %></td>
        <td>
         <%= form.radio_button :is_active, :male %>
         <%= f.radio_btton :is_active %>有効
         <%= f.radio_btton :is_active %>無効
        </td>
        <td colspan="3"></td>
      </tr>
     
      
      