<div class="container">
  <div class="row">
    <h3 class="m-5", style="background-color: #E6E6E6;"><%= @customer.full_name %>さんの会員情報編集</h3>
  </div>
  <%= form_with model: @customer, url: admin_customer_path(@customer), local: true do |f| %>

    <div class ="row mb-2">
        <div class="col-3">会員ID</div>
        <div class="col-3"><%= @customer.id %></div>
    </div>
     
    <div class="row mb-2">
      <div class="col-3">氏名</div>
      <div class="col-3"><%= f.text_field :last_name, style: "border-radius: 5px; border: 1px solid black;" %></div>
      <div class="col-3"><%= f.text_field :first_name, style: "border-radius: 5px; border: 1px solid black;" %></div>
    </div>
    <div class="row mb-2">
      <div class="col-3">フリガナ</div>
      <div class="col-3"><%= f.text_field :last_name_kana, style: "border-radius: 5px; border: 1px solid black;" %></div>
      <div class="col-3"><%= f.text_field :first_name_kana, style: "border-radius: 5px; border: 1px solid black;" %></div>
    </div>
    <div class="row mb-2">
      <div class="col-3">郵便番号</div>
      <div class="col-3"><%= f.text_field :post_code, style: "border-radius: 5px; border: 1px solid black;" %></div>
    </div>
    <div class="row mb-2">
      <div class="col-3">住所</div>
      <div class="col-3"><%= f.text_field :address, style: "border-radius: 5px; border: 1px solid black;" %></div>
    </div>
    <div class="row mb-2">
      <div class="col-3">電話番号</div>
      <div class="col-3"><%= f.text_field :telephone_number, style: "border-radius: 5px; border: 1px solid black;" %></div>
    </div>
    <div class="row mb-2">
      <div class="col-3">メールアドレス</div>
      <div class="col-3"><%= f.text_field :email, style: "border-radius: 5px; border: 1px solid black;" %></div>
    </div>
    <div class="row mb-4">
      <div class="col-3">会員ステータス</div>
      <div class="col-3">
       <%= f.radio_button :is_active, true %>
       <%= f.label :is_active_true, "有効" %>
       <%= f.radio_button :is_active, false %>
       <%= f.label :is_active_false, "退会" %>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-3"></div>
      <div class="col-6">
        <%= f.submit '変更を保存', class: "btn btn-lg btn-success" %>
      </div>
    </div>   
<% end %>
     
      
      