

<div class="container" style="max-width: 60%; margin: 0 auto;">
  <h4 class='index-title'>会員一覧</h4>
 <table class="table  table-bordered text-center">
  <thead>
    <tr class='index-tr'>
      <th scope="col">会員ID</th>
      <th scope="col">氏名</th>
      <th scope="col">メールアドレス</th>
      <th scope="col">ステータス</th>
    </tr>

    </tr>
  </thead>
  <tbody>
   <% @customers.each do |customer| %>
    <tr>
      <td><%= customer.id %></td>
      <td><%= link_to customer.full_name, admin_customer_path(customer) %></td>
      <td><%= customer.email %></td>
      <td><%= customer.is_active %></td>
    </tr>

    <% end %>
  </tbody>
 </table>
</div>
<%= paginate @customers %>