
<div class="container">
  <div class="row">
    <h3 class="m-1", style="background-color: #E6E6E6;"><%= @customer.full_name %>さんの会員詳細</h3>
  </div>

    <div class="row mt-4">
      <div class="col-3">会員ID</div>
      <div class="col-3"><%= @customer.id %></div>
      <div colspan="3"></div>
    </div>
   
    <div class="row mt-3">
      <div class="col-3">氏名</div>
      <div class="col-3"><%= @customer.full_name %></div> 
    </div>
   
    <div class="row mt-3">
      <div class="col-3">フリガナ</div>
      <div class="col-3"><%= @customer.full_name_kana %></div>
    </div>
   
    <div class="row mt-3">
       <div class="col-3">郵便番号</div>
       <div class="col-3"><%= @customer.post_code %></div>
    </div>

    <div class="row mt-3">
       <div class="col-3">住所</div>
       <div class="col-3"><%= @customer.address %></div>
    </div>

    <div class="row mt-3">
      <div class="col-3 ">電話番号</div>
      <div class="col-3"><%= @customer.telephone_number %></div>
    </div>

    <div class="row mt-3">
       <div class="col-3">メールアドレス</div>
       <div class="col-3"><%= @customer.email %></div>
    </div>

    <div class="row mt-3">
       <div class="col-3">会員ステータス</div>
       <div class="col-3">
         <% if @customer.is_active %>
          <span style="color: green; font-weight: bold;">有効</span>
         <% else %>
          <span style="color: grey; font-weight: bold;">退会</span>
         <% end %>
      </div>
    </div>
    
  <div class="row mt-4">
    <div class="col-3"></div>
    <div class="col-3">
      <%= link_to '編集する', edit_admin_customer_path(@customer), class: "btn btn-sm btn-success edit_admin_customer_#{@customer.id}" %>
    </div>
    <div class="col-3">
      <%= link_to '注文一覧を見る', admin_path(@customer), class: "btn btn-sm btn-primary" %></div>
    </div>
  </div>
</div>