<div class="container">
  <div class="row">
    <h4 class="m-5", style="background-color: #E6E6E6;">配送先編集</h4>
  </div>

  <%= form_with model: @address, url: address_path(@address), method: :patch, local: true do |f| %>
    <div class ="row mb-2">
      <div class="col-3">郵便番号（ハイフンなし）</div>
      <div class="col-3"><%= f.text_field :postal_code, class: "form-control", style: "border-radius: 5px; border: 1px solid black;" %></div>
    </div>
    
    <div class="row mb-2">
      <div class="col-3">住所</div>
      <div class="col-6"><%= f.text_field :address, class: "form-control", style: "border-radius: 5px; border: 1px solid black;" %></div>
    </div>

    <div class="row mb-2">
      <div class="col-3">宛名</div>
      <div class="col-3"><%= f.text_field :name, class: "form-control", style: "border-radius: 5px; border: 1px solid black;" %></div>
      <div class="col-5 text-right"> <%= f.submit '変更内容を保存', class: "btn btn-sm btn-success" %></div>
    </div>
  <% end %>