<div class="container">
  <div class="row">
    <h3 class="m-5" style="background-color: #E6E6E6;">配送先登録/一覧</h3>
  </div>
    <%= form_with model: @address, url: addresses_path, local: true do |f| %>
      <div class="row mb-2">
       <div class="col-3"><%= f.label :postal_code, "郵便番号(ハイフンなし)" %></div>
       <div class="col-3"><%= f.text_field :postal_code, placeholder: "0000000", class: "form-control", style: "border-radius: 5px; border: 1px solid black;" %></div>
      </div>

    <div class="row mb-2"> 
        <div class="col-3"><%= f.label :address, "住所" %></div>
        <div class="col-6"><%= f.text_field :address,  size:"75x1", placeholder: "東京都渋谷区代々木神園町0-0", class: "form-control", style: "border-radius: 5px; border: 1px solid black;" %></div>
    </div>

    <div class="row mb-5"> 
        <div class="col-3"><%= f.label :name, "宛名" %></div>
        <div class="col-3"><%= f.text_field :name, placeholder: "令和道子", class: "form-control", style: "border-radius: 5px; border: 1px solid black;" %></div>
        <div class="col-5 text-right"><%= f.submit "     新規登録     ", class: "btn btn-sm btn-success"%></div>
      </div>
    <% end %>
</div>
<div class="container">
 <div class="row">
  <div class="col-md-8">  
    <table class="table table-bordered border-dark">
     <thead class="table-active">
      <tr>
       <th class="col-1">郵便番号</th>
       <th class="col-3">住所</th>
       <th class="col-1">宛名</th>
       <th class="col-3"></th>
      </tr>
     </thead>
     <tbody>
       <% if current_customer.addresses.present? %>
        <% @addresses.each do |address| %>
          <tr>
            <td><%= address.postal_code %></td>
            <td><%= address.address %></td>
            <td><%= address.name %></td>
            <td>
                <%= link_to "編集する", edit_address_path(address), class: "btn btn-success" %>
                <%= link_to "削除する", address_path(address), method: :delete, class: "btn btn-danger" %>             
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="4">配送先が登録されていません。</td>
         </tr>
       <% end %>
     </tbody>
    </table>
    </div>
   </div>
  </div>
