
<div class="container">
  <div class="row m-4">
    <h4 style="background-color: #E6E6E6;">注文情報入力</h4>
  </div>


  <%= form_with model: Order.new, url: confirm_orders_path, method: :post, local: true do |f| %>
    <strong>支払方法</strong>
    <div class="row">
      <div class="ml-5">
        <%= f.radio_button :payment_method, :credit_card, checked: true %>
        <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %>
        <br/>
        <%= f.radio_button :payment_method, :transfer %>
        <%= f.label :payment_method, Order.payment_methods_i18n[:transfer] %>
      </div>
    </div>


    <strong>お届け先</strong>
    <div class="row">
      <div class="ml-5">
        <%= f.radio_button :address_select, "customer_address", checked: true %>
        <%= f.label :address_select, "ご自身の住所" %>
        <div class="col ml-3 mb-3">
          〒<%= current_customer.post_code %> <%= current_customer.address %>
          <br/>
          <%= current_customer.last_name %><%= current_customer.first_name %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="ml-5">
        <%= f.radio_button :address_select, "address_list" %>
        <%= f.label :address_select, "登録済み住所から選択" %>
        <div class="col ml-2 mb-3">
          <div><%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :address_display), { include_blank: '登録してある配送先住所から選択' } %></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="ml-5">
        <%= f.radio_button :address_select, "new_address" %>
        <%= f.label :address, "新しいお届け先" %>
      </div>
    </div>
    <div class="row">
      <div class="col-3 offset-1">
        <%= f.label :postal_code, "郵便番号（ハイフンなし）" %>
      </div>
      <div class="col-6">
        <%= f.text_field :postal_code, placeholder: "0000000" %>
      </div>
    </div>
    <div class="row">
      <div class="col-3 offset-1">
        <%= f.label :address, "住所" %>
      </div>
      <div class="col-6">
        <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", size: "60" %>
      </div>
    </div>
    <div class="row">
      <div class="col-3 offset-1">
        <%= f.label :name, "宛名" %>
      </div>
      <div class="col-6">
        <%= f.text_field :name, placeholder: "令和道子" %>
      </div>
    </div>


    <div class="col text-center mt-3">
      <%= f.submit "確認画面へ進む", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>