<header>
 <nav class="navbar navbar-expand-lg navbar-dark bg-light">
    <div class="container">
      <!-- %= image_tag "logo.png", class: "header-logo", alt: "nagano_cafe" % -->
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
       </button>
       
       <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <% if customer_signed_in? %>
          <li>
            <%= link_to customer_path(current_user),class: 'nav-link text-light' do %>
              <span class="boxed"> マイページ </span>
            <% end %>
          </li>
          <li>
            <%=  link_to items_path,class: 'nav-link text-light' do %>
               <span class="boxed"> 商品一覧 </span>
            <% end %>
          </li>
          <li>
            <%=  link_to cart_items_path ,class: 'nav-link text-light' do %>
              <span class="boxed"> カート </span>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_costomers_session_path, method: :delete,class: 'nav-link text-light' do %>
              <span class="boxed"> ログアウト </span>
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to about_path,class: 'nav-link text-light' do %>
              <span class="boxed"> about </span>
            <% end %>
          </li>
          <li>
            <%=  link_to about_path,class: 'nav-link text-light' do %>
              <span class="boxed"> 商品一覧 </span>
            <% end %>
          </li>
          <li>
            <%= link_to new_customer_registration_path,class: 'nav-link text-light' do %>
              <span class="boxed"> 新規登録 </span>
            <% end %>
          </li>
          <li>
            <%= link_to new_customer_session_path ,class: 'nav-link text-light' do %>
              <span class="boxed"> ログイン </span>
            <% end %>
          </li>
        <% end %>
        </ul>
      </div>
      <div class="search">
    <%= form_with(url: search_path, scope: :item, local: true) do |f| %>
      <%= f.text_field :search, placeholder: "キーワード検索" %>
      <i class="fa-solid fa-magnifying-glass"></i>
      <% f.submit %>
    <% end %>
</div>
    </div>
  </nav>
</header>